body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: url('./Resources/backiee-292979-portrait.jpg') no-repeat center center/cover;
}


.main {
    width: 700px;
    height: 900px;
    /*background: url('your-image-url.jpg') no-repeat center center/cover;*/
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.bot-message {
    font-size: xx-large;
    height: 0cap;
    background: #573b8a;
    color: #ffffffd3;
    align-self: flex-start;
    animation: slide-in 0.5s ease-out;
}

.messages {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    color: rgb(255, 255, 255);
    background-color: #573b8a;
    position: relative;
    animation: slide-in 0.5s ease-out;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.chat-input {
    padding: 15px;
    background: #eeeeee69;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.chat-input input {
    width: 70%;
    height: 40px;
    background: #e0dede5e;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.chat-input button {
    width: 25%;
    height: 40px;
    background: rgba(89, 16, 226, 0.61);
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in;
}

.chat-input button:hover {
    background: #6d44b8;
}